.fitness {
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.fitness img {
    width: 100%;
    border-radius: 10px;
}

.fitness button {
    background-color: #674399;
    border: none;
    padding: 12px 15px;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.fitness button:hover {
    background-color: #9b51e0;
}