.exercise-details {
    padding: 10px 30px;
    position: sticky;
    top: 0;
}

.exercise-time {
    display: flex;
    background-color: #f2f2f2;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px;
    align-items: center;
    margin-top: 25px;
}

button.activity {
    background-color: #674399;
    border: none;
    padding: 20px 15px;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    margin-top: 30px;
}

button.activity:hover {
    background-color: #9b51e0;
}

.break-time {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    padding: 20px;
}

.break-time button {
    background-color: #fff;
    border: none;
    padding: 20px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px)  {
    .exercise-details {
        position: relative;
    }
}