.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #ededed;
}

.all-excersice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home-left {
    padding: 0 80px;
}

.home-right {
    background-color: #fff;
}

@media screen and (max-width: 768px)  {
    .home-container {
        grid-template-columns: 1fr;
    }

    .all-excersice {
        grid-template-columns: 1fr !important;
    }

    .home-left h2 {
        text-align: center;
    }
}

@media screen and (max-width: 992px)  {

    .home-left {
        padding: 0;
    }

    .all-excersice {
        grid-template-columns: repeat(2, 1fr);
    }
}