.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: #f2f2f2;
}

.all-excersice {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home-left {
    padding: 0 80px;
}

.home-right {
    background-color: #fff;
}